<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anonymous.anonymous.dao.AnonymousDao">

	<!-- 根据id查找用户 -->
	<select id="findAnonymById" parameterType="String" resultType="com.anonymous.anonym.pojo.Anonym">
		SELECT an.`anonymId`,
		  an.`password`,
		  an.`quickPassword`,
		  an.`nickName`,
		  an.`userName`,
		  an.`headerImg`,
		  an.`phone`,
		  an.`deviceId`,
		  an.`createTime` 
		FROM an_anonym an 
		WHERE an.`anonymId`=#{anonymId}
	</select>

	<!-- 根据手机号码查找用户 -->
	<select id="findAnonymByPhone" parameterType="String" resultType="com.anonymous.anonym.pojo.Anonym">
		SELECT an.`anonymId`,
		  an.`nickName`,
		  an.`userName`,
		  an.`headerImg`,
		  an.`phone`,
		  an.`deviceId`,
		  an.`createTime` 
		FROM an_anonym an WHERE an.phone=#{phone}
	</select>
	
	<!-- 保存用户 -->
	<insert id="saveQuickAnonym" parameterType="com.anonymous.anonym.pojo.Anonym">
		INSERT INTO an_anonym (
		  anonymId,
		  nickName,
		  userName,
		  quickPassword,
		  headerImg,
		  phone,
		  deviceId,
		  createTime,
		  updateTime
		) 
		VALUES (
		  #{anonymId}, 
		  #{nickName}, 
		  #{userName}, 
		  #{quickPassword}, 
		  #{headerImg}, 
		  #{phone}, 
		  #{deviceId},
		  #{createTime},
		  #{updateTime}
		 )
	</insert>
	
	<!-- 更新用户 -->
	<update id="updateQuickAnonym" parameterType="com.anonymous.anonym.pojo.Anonym">
		UPDATE 
		  an_anonym an 
		SET
		  an.`nickName` = #{nickName},
		  an.`userName` = #{userName},
		  an.`quickPassword` = #{quickPassword},
		  an.`headerImg` = #{headerImg},
		  an.`phone` = #{phone},
		  an.`isLock` = #{isLock},
		  an.`deviceId` = #{deviceId},
		  an.`lockReason` = #{lockReason},
		  an.`delFlag` = #{delFlag},
		  an.`createTime` = #{createTime},
		  an.`updateTime` = #{updateTime} 
		WHERE an.`anonymId` = #{anonymId}
	</update>
	
	<!-- 根据主键查询信息 -->
	<select id="findAnonymInfoById" parameterType="String" resultType="com.anonymous.anonym.pojo.Anonym">
		SELECT 
		  a.`anonymId`,
		  a.`backgroundImg`,
		  a.`city`,
		  a.`deviceId`,
		  a.`headerImg`,
		  a.`nickName`,
		  a.`personalSignature`,
		  a.`phone`,
		  a.`sex`,
		  a.`userName` 
		FROM
		  an_anonym a WHERE a.`anonymId`=#{anonymId};
	</select>

</mapper>