<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anonymous.story.dao.StoryDao">

	<!-- 查找最新故事 -->
	<select id="searchNewStory" resultType="java.util.Map">
		SELECT 
		  s.`storyId`,
		  s.`storyTitle`,
		  s.`storyContent`,
		  s.`storyArticleSummary`,
		  a.`headerImg`,
		  a.`nickName` ,
		  (SELECT COUNT(*) FROM an_storycollection WHERE storyId=s.`storyId`) AS collection,
		  (SELECT COUNT(*) FROM an_storycomment WHERE storyId=s.`storyId`) AS comm,
		  (SELECT COUNT(*) FROM an_storyfabulous WHERE storyId=s.`storyId`) AS fabulous
		FROM
		  an_story s 
		  INNER JOIN an_anonym a 
		    ON s.`anonymId` = a.`anonymId` ORDER BY s.`createTime` DESC LIMIT 0,10
	</select>

	<!-- 保存故事 -->
	<insert id="saveStory" parameterType="hashmap">
		INSERT INTO an_story (
		  storyId,
		  storyTitle,
		  storyContent,
		  storyArticleSummary,
		  updateTime,
		  createTime,
		  anonymId
		) 
		VALUES(
		 #{storyId},
		 #{storyTitle},
		 #{storyContent},
		 #{storyArticleSummary},
		 #{updateTime},
		 #{createTime},
		 #{anonymId}
		)
	</insert>

</mapper>