<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anonymous.card.dao.CardDao">

	<!-- 保存卡片 -->
	<insert id="saveCard" parameterType="hashmap">
		INSERT an_card (
		  cardId,
		  cardContent,
		  cardImg,
		  createTime,
		  updateTime,
		  anonymId
		) 
		VALUES (
		  #{cardId},
		  #{cardContent},
		  #{cardImg},
		  #{createTime},
		  #{updateTime},
		  #{anonymId}
		)
	</insert>
	
	<!-- 查出最新卡片 -->
	<select id="searchNewCard" resultType="java.util.Map">
		SELECT 
		  card.`cardId`,
		  card.`cardContent`,
		  card.`cardImg` ,
		  (SELECT COUNT(*) FROM an_cardcollection collection WHERE collection.`cardId`=card.`cardId`) AS collnum,
		  (SELECT COUNT(*) FROM an_cardcomment comm WHERE comm.`cardId`=card.`cardId`) AS commnum,
		  (SELECT COUNT(*) FROM an_cardfabulous fabul WHERE fabul.`cardId`=card.`cardId`) AS fabulnum
		FROM
		  an_card card 
		WHERE 
		  card.`delFlag` = 1
		  AND card.`isLock` = 1
		ORDER BY card.`createTime` DESC ;
	</select>

</mapper>